<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="d.net labs edge" value="https://www.myget.org/F/discord-net-labs/api/v3/index.json" />
        <add key="d#+ edge for osu lib" value="https://nuget.emzi0767.com/api/v3/index.json" />
    </packageSources>
</configuration>
